<div class="displayBox">
  <h3>Candidates</h3>
  <ul>
    <li id="peop" [class.selected]="crew.includes(member)" *ngFor="let member of candidates" (click)="addCrewMember(member)">{{member.name}}</li><br>
  </ul>
</div>
<hr>
<div class="displayBox">
  <h3>Crew
    <span *ngIf="crew.length === 3">Full</span>
  </h3>
  <ol>
    <li *ngFor="let astronaut of crew" (mouseover)="selected = astronaut" (mouseout)="selected = false" id="astCrew">{{astronaut.name}}</li>
  </ol>
  <!-- Add an img tag here to display astronaut photos. -->
  <div *ngIf="selected">
    <img [src]="selected.photo"/>
    <p id="pet">Dog: {{selected.dog}}</p>
  </div>
</div>
