<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of box">

    <span *ngIf="itemBeingEdited !== item; else editItem">
      <span (click)="edit(item)" class="editable-text">{{item.name}}</span>
      <button (click)="remove(item)">remove</button>
    </span>

    <ng-template #editItem>
      <input #updatedItem (keyup.enter)="save(updatedItem.value, item)" value="{{item.name}}" />
      <button (click)="save(updatedItem.value, item)">save</button>
    </ng-template>

  </li>
</ul>

<input #newItem type="text" (keyup.enter)="add(newItem.value)"/>
<button (click)="add(newItem.value)">Add</button>
